@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
    h1 {
        @apply text-2xl sm:text-5xl font-bold text-neutral-900 dark:text-neutral-50
    }
    h2 {
        @apply text-xl sm:text-4xl font-bold text-neutral-900 dark:text-neutral-50
    }
    h3 {
        @apply text-lg sm:text-2xl font-bold text-neutral-900 dark:text-neutral-50
    }
    body, div {
        @apply text-sm sm:text-base text-neutral-700 dark:text-neutral-300 
    }
}

@layer components {
    .btn-primary {
        @apply inline-block px-6 py-2 border-2 border-lime-500  bg-gradient-to-br from-lime-500 font-medium via-lime-500 to-green-500 dark:text-neutral-900 text-white text-sm leading-tight rounded-full capitalize shadow-sm dark:shadow-lime-700 hover:scale-[1.02] hover:shadow-md transition duration-150 ease-in-out;
    }

    .btn-secondary {
        @apply inline-block px-6 py-2 border-2 border-lime-500/50 border-dashed font-semibold text-sm leading-tight capitalize rounded-full hover:scale-[1.02] hover:bg-lime-500/20 transition duration-150 ease-in-out;
    }

    .label {
        @apply ring-1 ring-lime-500 italic px-2 rounded-full hover:scale-[1.02] hover:bg-lime-500/20 transition duration-150 ease-in-out
    }

    .label-off {
        @apply ring-1 ring-neutral-300 dark:ring-neutral-700 italic px-2 rounded-full
    }
    
    .label-selected {
        @apply px-2 rounded-full bg-lime-500 text-neutral-100 dark:text-neutral-900 font-medium shadow-sm dark:shadow-lime-700
    }

    .profile-image {
        @apply object-cover h-80 w-60 sm:shadow-md dark:shadow-lime-700;
    }

    .content-image {
        @apply object-cover h-64 w-auto rounded mb-6 sm:h-auto
    }

    .thumbnail {
        @apply object-cover h-40 w-full mb-4 rounded-t-lg;
    }

    .content {
        @apply wysiwyg lg:wysiwyg-lg max-w-none dark:wysiwyg-dark hover:wysiwyg-a:!text-lime-500 wysiwyg-a:font-medium wysiwyg-a:decoration-dotted wysiwyg-a:decoration-lime-500 wysiwyg-a:decoration-2 wysiwyg-a:underline-offset-[3px] wysiwyg-a:font-normal wysiwyg-video:mx-auto wysiwyg-video:border wysiwyg-video:border-4 wysiwyg-video:border-lime-500 wysiwyg-img:mx-auto;
    }

    .circle {
        @apply w-3 h-3 my-6 mx-1 bg-lime-500 rounded-full;
    }

    .card {
        @apply w-full px-4 pb-6 bg-white/50 shadow-md hover:shadow-lg hover:scale-[1.02] transition-transform duration-300 ease-in-out dark:bg-black/30 dark:shadow-lime-700
    }
}

@layer utilities {
    .animation-delay-200 {
        animation-delay: 0.2s;
    }
    .animation-delay-400 {
        animation-delay: 0.4s;
    }

    [data-fade] {
        @apply translate-y-10 opacity-0 transition-[transform,opacity] duration-[400ms] ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
    }

    .fade-in-start [data-fade] {
        @apply translate-y-0 opacity-100;
    }
    .fade-in-start [data-fade='1'] {
        transition-delay: 100ms;
    }
    .fade-in-start [data-fade='2'] {
        transition-delay: 200ms;
    }
    .fade-in-start [data-fade='3'] {
        transition-delay: 300ms;
    }
    .fade-in-start [data-fade='4'] {
        transition-delay: 400ms;
    }
    .fade-in-start [data-fade='5'] {
        transition-delay: 500ms;
    }
    .fade-in-start [data-fade='6'] {
        transition-delay: 600ms;
    }
    .fade-in-start [data-fade='7'] {
        transition-delay: 700ms;
    }
    .fade-in-start [data-fade='8'] {
        transition-delay: 800ms;
    }
}