.handDrawnBorderHero {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 6px #84cc16;
    overflow: hidden;
}

.handDrawnBorderImage {
    border-radius: 255px 5px 255px 5px/5px 255px 5px 255px;
    border: solid 4px #84cc16;
    overflow: hidden;
}

.handDrawnBorderProjects {
    border-radius: 15px 100px 15px 100px/255px 15px 225px 15px;
    border: solid 4px #84cc16;
    overflow: hidden;
    transform: rotate(0.5deg);
}

.handDrawnBorderPosts {
    border-width: 5px 3px 3px 5px;
    border-radius:4% 94% 3% 95%/95% 4% 97% 5%;
    transform: rotate(-1deg);
    border-color: #84cc16;
    overflow:hidden;
}

.handDrawnBorderCircle {
    border-radius: 255px 225px 255px 255px/225px 255px 225px 255px;
    border: solid 4px #84cc16;
    overflow:hidden;
}

.handDrawnLineTop {
    border-radius: 25px 255px 0px 0px/5px 5px 0px 0px;
    border-width: 5px 0px 0px 0px;
    border-color: #84cc16;
    overflow: hidden;
    transform: rotate(-0.3deg);
}

.handDrawnLineBot {
    border-radius: 0px 0px 255px 255px/0px 0px 5px 5px;
    border-width: 0px 0px 3px 0px;
    border-color: #84cc16;
}

.highlight {
    position: relative;
}

.highlight::before {
    background-color: #84cc16;
    opacity: 0.5;

    content: "";
    position: absolute;
    width: calc(100%);
    height: 20%;
    left: -2px;
    bottom: 14px;
    z-index: -1;
    transform: rotate(-2deg);
}

.shadow {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}